body {
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
}

.traffic-lights {
  background-color: black;
  height: 300px;
  width: 70px;
  display: grid;
  grid-row: 20px;
  gap: 5px;
  color: gray;
  justify-content: center;
  align-items: center;
  font-size: 2px;
  margin-bottom: 50px;
}

.red {
  background-color: red;
  color: red;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.yellow {
  background-color: yellow;
  color: yellow;
  width: 50px;
  border-radius: 30px;
  height: 50px;
}

.green {
  background-color: green;
  color: green;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.gray-red {
  background-color: rgb(167, 109, 109);
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.gray-yellow {
  background-color: rgb(219, 224, 161);
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.gray-green {
  background-color: rgb(125, 159, 140);
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.selector {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 3px;
}

.custom-signal {
  display: flex;
  justify-content: space-between;
  width: 500px;

  input,
  select {
    width: 200px;
  }

  button {
    background-color: lightblue;
    border: 0;
    border-radius: 3px;
  }
}

.active {
  color: blue;
  cursor: pointer;
}

.disabled {
  color: gray;
  cursor: not-allowed;
}
